.wrapper{
    .DoubleImage{
        width: 80%;
        height: 500px;
        position: relative;
        margin: 50px auto;
        .imgLeft{
            width:55%;
            height: 75%;
            background: #F2F1FA;
            border-radius: 30px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        :hover{
            z-index: 3;}
        .imgRight{
            border: 8px solid #221C3E;
            width:55%;
            height: 75%;
            background: #F9F9FF;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            border-radius: 30px;
            overflow:hidden;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
}
