.idea/
frontend/node_modules/
.env*
!.env.example
*.log
*.cache
*.tmp
*.swp
venv/
backend/backend/settings.py
backend/backend/__pycache__
backend/blogs/__pycache__/
backend/blogs/migrations/
backend/common/__pycache__/
backend/friends/__pycache__/
backend/games/__pycache__/
backend/messaging/__pycache__/
backend/users/__pycache__/
frontend/.gitignore
frontend/node_modules/
frontend/dist/
backend/users/migrations/__pycache__/0010_user_short_description.cpython-311.pyc
