@import '../../scss/App.scss';

.login-container{
    margin-top: 100px;
}
.loginPageContent{
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 100px ;
    border: 2px solid white;
    position: relative;
    min-height: 500px;
}
.leftSideLogin{
    padding-top: 55px;
    min-height: 100%;
    backdrop-filter: blur(12px);
    display: flex;
    background-color: $logoFont;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login_title{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-style: normal;
        margin-top: 30px;
        color: white;
        h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 200%;
        }
        p{
            font-size: 14px;
        }
    }
.pagerWraper{
    width: 100%;
    .pager {
        display: flex;
        margin: 55px auto ;
        justify-content: space-evenly;
        width: 20%;
        li{
            cursor: pointer;
            list-style: none;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #00227B;
            }
        }
        li.active {
            cursor: auto;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #6F74DD;
            position: relative;
            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #FFFFFF;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    }
}

