@import '../../scss/app';

.loginPageContent{
    border-radius: 24px;
    margin-top: 100px ;
    height: 500px;
    margin-bottom: 100px ;
    border: 2px solid white;
    overflow: hidden;
    position: relative;
    .leftSideLogin{
        min-height: 100%;
        padding:0;
        backdrop-filter: blur(12px);
        display: flex;
        background-color: $logoFont;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .login_title{
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            font-style: normal;
            margin-top: 30px;
            color: white;
            h3{
                font-weight: 600;
                font-size: 24px;
                line-height: 200%;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .rightSide{
        background-color: white;
        display: flex;
        justify-content:center;
        padding: 0;
        border: none;
        height: 100%;
        flex-direction: column;
        h3{
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: $logoFont;
            margin-top: 80px;
            margin-bottom: 60px;
        }
    }
    .input-icon-container {
        margin-left: auto;
        margin-bottom: 25px;
        position: relative;
        height: 40px;
        border-radius: 15px;
        width:90%;
        .error-message{
            color: #ff1a1a;
            padding-bottom: 5px;
        }

    }
    .input-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        color: #828282;
    }
    .input-with-icon {
    padding-left: 35px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #D0D0D0;
    width:90%;
    &:focus {
        outline-color: $logoFont;
    }
    &.error {
        border-color: #ff1a1a;;
        &::placeholder {
            color: #ff1a1a;;
        }
    }

}


    }
    .forgetButton{
        width: 90%;
        text-align: right;
        a{
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $logoFont;
            width: 50%;
        }
    }
    .submit-button{
        width:90%;
        display: flex;
        justify-content:center;
        margin: auto;
        button{
            width: 90%;
            background: $logoFont;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            border: none;
            padding: 11px 0 ;
            gap: 8px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: white;
            margin: 30px auto;
        }
    }

