@font-face {
    font-family: 'Mars';
    src: url('../Fonts/Mars/Mars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mars';
    src: url('../Fonts/Mars/Mars Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mars';
    src: url('../Fonts/Mars/Mars Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
